@use '../themes/defaultTheme' as *;
@use '../util' as *;

.search-form {
	width: 90vw;
	max-width: $max-width;
	margin: 0 auto;
	margin-top: 5rem;
	margin-bottom: 3rem;

	.form-input {
		width: 100%;
		max-width: $fixed-width;

		border: transparent;
		border-radius: $radius;

		background: $white;
		padding: 1rem;
		color: $black;
		font-size: 1rem;

		letter-spacing: $spacing;

		margin-top: 1rem;
	}

	.error {
		color: $red-dark;

		text-transform: capitalize;

		padding-top: 0.3rem;
		letter-spacing: $spacing;

		font-weight: 500;
		font-size: 1.25rem;
	}
}
